@import url(../../node_modules/normalize.css/normalize.css);
@import "sass-rem";
@import "./helpers/mixins";
@import "./helpers/fonts";

$rem-baseline: 16px;

html,
body {
  @include rem-baseline(1.1vw);
  @include size {
    @include rem-baseline;
  }
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
#root {
  margin: 0 rem(24px);
  @include size {
    margin: 0;
  }
}
